@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nav-bg {
  background-color: #8072d2 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem !important;
  padding-left: 2rem !important;
}

.nav-link {
  text-transform: uppercase;
}

.nav-link:hover {
  color: #e46583  !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #e46583  !important;
  background-color: transparent !important;
  border-bottom: 2px solid #ffeff2;
  border-radius: unset;
  border-top: 2px solid #ffeff2;
}

.bg-1 {
  background: url(../images/backgrounds/banner-bg.jpg) no-repeat;
  background-size: cover;
}

.banner {
  padding: 150px 0 100px;
  min-height: 100vh;
}

.banner .content-block h1 {
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .06em;
  margin-bottom: 30px;
}

.banner .content-block h5 {
  color: #fff;
  margin-bottom: 75px;
}

.phone-thumb {
  max-height: 550px;
}

.app-badge ul li.list-inline-item:not(:last-child) {
  margin-right: 25px;
}

.btn-download i {
  font-size: 40px;
  margin-right: 10px;
}

.btn-download span {
  display: block;
  font-size: 20px;
}

.app-badge.list-inline {
  padding-left: 0;
  list-style: none;
}

.app-badge .btn-download {
  padding: 10px 25px;
  font-size: 14px;
  background: #232323;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.app-badge .btn-download:hover {
  color: aqua;
}

.app-badge .btn:hover {
  color: none !important;
}

.section {
  padding: 100px 0;
}

.bg-2 {
  background: url(../images/backgrounds/elipse-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

.phone-thumb-md {
  max-height: 600px;
}

.about .about-block .about-item:not(:last-child) {
  margin-bottom: 30px;
}

.about .about-block .about-item .icon {
  width: 50px;
}

.about .about-block .about-item .icon i {
  font-size: 48px;
}

.about .about-block .about-item {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.about .about-block .about-item .content {
  margin-left: 30px;
}

.about .about-block .about-item .icon i {
  font-size: 48px;
  color: #7d71d3;
}

.about .about-block .about-item .content h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.about .about-block .about-item .content p {
  line-height: 27px;
}

.about .about-block .about-item.active {
  background: #7d71d3;
}

.about .about-block .about-item.active .icon i {
  color: #fff;
}

.about .about-block .about-item.active .content h5, .about .about-block .about-item.active .content p {
  color: #fff;
}

.about .about-block .about-item.active .content h5, .about .about-block .about-item.active .content p {
  color: #fff;
}

.section-title {
  text-align: center;
  margin-bottom: 85px;
}

.section-title h2 {
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.section-title p {
  width: 70%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
}

.feature .feature-item .icon {
  margin-bottom: 15px;
}

.feature .feature-item .icon i {
  font-size: 48px;
  color: #7d71d3;
}

.feature .feature-item .content h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.feature .feature-item .content p {
  line-height: 27px;
}

.bg-elipse {
  background: url(../images/backgrounds/elipse-bg-three.png) no-repeat;
  background-position: center;
}

.feature .feature-item:not(:last-child) {
  margin-bottom: 60px;
}

.feature .feature-item:not(:last-child) {
  margin-bottom: 60px;
}

.feature .app-screen {
  margin: 20px 0;
}

.feature .app-screen img {
  max-height: 400px;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: antiquewhite;
}

p, li, blockquote, label {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  color: #999999;
  margin-bottom: 0;
}

.bg-shape {
  background: url(../images/backgrounds/shape-bg.png) no-repeat;
  background-position: center;
}

.section {
  padding: 100px 0;
}

.pricing-table {
  background: #fff;
  padding: 50px 0;
  margin-bottom: 80px;
}

.pricing-table .title {
  margin-bottom: 30px;
}

.pricing-table .title h5 {
  text-transform: uppercase;
  font-weight: 600;
}

.pricing-table .price p {
  font-size: 36px;
  font-weight: bold;
  color: #7d71d3;
}

ul.feature-list {
  margin: 0;
  padding: 0;
}

ul.feature-list li {
  list-style: none;
  margin: 15px 0;
  font-size: 16px;
}

.pricing-table .action-button {
  margin-top: 30px;
}

.pricing-table .action-button .btn-main-rounded {
  letter-spacing: .075em;
  background: #7d71d3;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
}

.pricing-table.featured .price p {
  color: #ff698d;
}

.pricing-table.featured .action-button .btn-main-rounded {
  background: #ff698d;
}

.cta-download {
  position: relative;
  padding: 80px 0;
}

.overlay:before {
  content: '';
  background: rgba(125, 113, 211, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-3 {
  background: url(../images/backgrounds/desk-bg.jpg) fixed no-repeat;
  background-size: cover;
}

.cta-download .image-block {
  position: absolute;
  top: -70px;
  left: 100px;
}

.phone-thumb {
  max-height: 550px;
}

.cta-download .content-block h2 {
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 30px;
  font-size: 48px;
}

.content-block {
  position: relative;
}

.cta-download .content-block h2, .cta-download .content-block p {
  color: #fff;
}

.count {
  padding-top: 180px;
}

.bg-gray {
  background: #f8f8f8;
}

.count .counter-item {
  text-align: center;
  background: #7d71d3;
  padding: 40px 0;
  border-radius: 8px;
}

.count .counter-item h3 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
}

.count .counter-item h3, .count .counter-item p {
  color: #fff;
  text-transform: uppercase;
}

.count .counter-item p {
  color: #fff;
  text-transform: uppercase;
  line-height: 27px;
}

.bg-shape-two {
  background: url(../images/backgrounds/shape-overlay-bg.jpg) repeat;
  background-position: center;
}

.team-member {
  background: #fff;
  padding: 30px;
}

.team-member .image {
  margin-bottom: 30px;
}

.team-member .image img {
  border-radius: 100%;
}

.team-member .name h5 {
  font-weight: 600;
  text-transform: uppercase;
}

.team-member .position {
  margin-bottom: 20px;
}

.team-member .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.team-member .skill-bar .progress {
  width: 80%;
  height: 7px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.team-member .skill-bar span {
  font-size: 12px;
  margin-left: 15px;
}

ul.social-icons li a {
  display: block;
  height: 35px;
  width: 35px;
  background: #f8f8f8;
  text-align: center;
  border-radius: 100%;
}

ul.social-icons li a i {
  font-size: 16px;
  line-height: 35px;
  color: #98929e;
}

ul.social-icons li a i:hover {
  color: #7d71d3;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #7d71d3 !important;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.bg-elipse-red {
  background: url(../images/backgrounds/elipse-bg-two.png) no-repeat;
  background-position: center;
}

.cta-subscribe .content {
  margin-left: 25px;
}

.cta-subscribe h2 {
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
}

.cta-subscribe .content .description {
  margin-bottom: 40px;
}

.input-group {
  border-radius: 4px;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  width: 100%;
}

.form-control {
  background: #fff;
  padding: 20px 20px;
  border: none;
  height: 60px;
  font-size: 14px;
  border-radius: 4px;
}

.input-group .input-group-text {
  padding-left: 35px;
  padding-right: 35px;
  background: #7d71d3;
  color: #fff;
  cursor: pointer;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer-main {
  padding: 50px 0;
  background: #7d71d3;
}

.footer-main .footer-logo {
  margin-bottom: 15px;
}

.footer-main .copyright {
  opacity: .7;
}

.footer-main .copyright p {
  color: #fff;
  line-height: 27px;
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem;
}

.list-inline-item a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 576px) {
  .banner .content-block h1 {
    font-size: 50px;
    text-align: center;
  }
  .banner .content-block h5 {
    text-align: center;
  }
  .app-badge ul li.list-inline-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .list-inline {
    text-align: center;
  }
  .image-block {
    text-align: center;
  }
  .btn-download span {
    font-size: 17px;
  }
  .phone-thumb-md {
    max-height: 470px;
  }
  .social-icons {
    text-align: center !important;
  }
  .footer-links {
    text-align: center !important;
  }
  .footer-logo {
    text-align: center;
  }
  .navbar {
    background-color: #6f61d4;
  }
  .cta-subscribe h2, .cta-subscribe .h2 {
    padding-top: 30px;
  }
  .image {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .app-badge .btn-download {
    padding: 10px 20px;
  }
  .count {
    padding-top: 60px;
  }
  .social-icons {
    text-align: center !important;
  }
  .footer-links {
    text-align: center !important;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-main .copyright {
    text-align: center;
  }
  .navbar {
    background-color: #6f61d4;
  }
}

@media (max-width: 992px) {
  .app-badge .btn-download {
    padding: 10px 18px;
  }
  .cta-download .image-block {
    display: none;
  }
  .cta-download .image-block {
    display: none;
  }
  .banner {
    min-height: 60vh;
  }
  .count {
    padding-top: 60px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1rem !important;
  }
}

@media (max-width: 1200px) {
  .banner {
    min-height: 60vh;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1rem !important;
  }
}
/*# sourceMappingURL=main.css.map */