.section-title {
    text-align: center;
    margin-bottom: 85px;
}
.section-title h2 {
    font-size: 48px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}
.section-title p {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
}
.feature .feature-item .icon {
    margin-bottom: 15px;
}
.feature .feature-item .icon i {
    font-size: 48px;
    color: #7d71d3;
}
.feature .feature-item .content h5 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
.feature .feature-item .content p{
    line-height: 27px;
}
.bg-elipse {
    background: url(../images/backgrounds/elipse-bg-three.png) no-repeat;
    background-position: center;
}
.feature .feature-item:not(:last-child) {
    margin-bottom: 60px;
}
.feature .feature-item:not(:last-child) {
    margin-bottom: 60px;
}
.feature .app-screen {
    margin: 20px 0;
}
.feature .app-screen img {
    max-height: 400px;
}