@media (max-width: 576px){
    .banner .content-block h1 {
        
        font-size: 50px;
      text-align: center;
        
    }
    .banner .content-block h5{
        text-align: center;
    }
    .app-badge ul li.list-inline-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .list-inline{
        text-align: center;
    }
    .image-block {
        text-align: center;
    }
    .btn-download span {
        
        font-size: 17px;
    }
    .phone-thumb-md {
        max-height: 470px;
    }
    .social-icons {
        text-align: center!important;
    } 
    .footer-links {
        text-align: center!important;

    }
    .footer-logo {
        text-align: center;
    }
    .navbar{
        background-color: #6f61d4;
    }
    .cta-subscribe h2, .cta-subscribe .h2{
        padding-top: 30px;
    }
    .image {
        text-align: center;
    }
    

}

@media (max-width: 768px) {
    .app-badge .btn-download {
        padding: 10px 20px;
    }
    .count {
        padding-top: 60px;
    }
    .social-icons {
        text-align: center!important;
    } 
    .footer-links {
        text-align: center!important;

    }
    .footer-logo {
        text-align: center;
    }
    .footer-main .copyright{
        text-align: center;
    }
    .navbar{
        background-color: #6f61d4;
    }

}
@media (max-width: 992px){
    .app-badge .btn-download {
        padding: 10px 18px;
    }
    .cta-download .image-block {
        display: none;
    }.cta-download .image-block {
    display: none;
}
.banner {
    min-height: 60vh;
}
.count {
    padding-top: 60px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1rem !important;
}
}
@media (max-width: 1200px){
    .banner {
        min-height: 60vh;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem !important;
        padding-left: 1rem !important;
    }
}