@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
    background-color: antiquewhite;

}
p, li, blockquote, label {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    color: #999999;
    margin-bottom: 0;
}