
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.nav-bg {
    background-color: #8072d2!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem !important;
    padding-left: 2rem !important;
}
.nav-link{
    text-transform: uppercase;    
}
 .nav-link:hover{
    color: #e46583  !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #e46583  !important;
    background-color: transparent !important; 
    border-bottom: 2px solid #ffeff2;
    border-radius: unset;
    border-top: 2px solid #ffeff2;
}

@import 'home';
@import 'about';
@import 'features';
@import 'variables';
@import 'pricing';
@import 'download';
@import 'count';
@import 'team';
@import 'subscribe';
@import 'footer';

 @import '../node_modules/bootstrap/scss/bootstrap.scss';

@import 'responsive';




